.USERLOGED{
    font-family: "Candara";
    font-size: 12px;
    color: #116043;
    text-align: left;
}

.TITULOMENU{
    font-family: "Candara";
    font-size: 13px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    background: #116043;   
}

.SUBTITULOMENU{
    font-family: "Candara";
    font-size: 13px;
    font-weight: bold;
    color: #116043;
    text-align: center;
    background: #83AD9E;   
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

a:linked{
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
}

a:visited{
    text-decoration: none;
}

.TABLAMENU{
    border: 1px solid #116043;
    box-shadow: 5px 5px 10px #ccc;
}

.TEXTONOSEL{
    text-align: center;		
    font-family: "Candara";
    font-size: 17px;
    font-weight: bold;
    color: #116043;    
}

.TABLARESULT{
    border-left: 1px solid #116043;
    border-right: 1px solid #116043;
    box-shadow: 5px 5px 10px #ccc;
}

.TEXTORESULT{
    font-family: "Candara";
    font-size: 10px;
    font-weight: normal;
    color: #015637;
    text-align: center;
    vertical-align: middle;
    border-bottom: 1px solid #116043;
}

.FILARESULT:hover{
    background: #ECEBA3;
    font-weight: bold;
    font-size: 15px;
}

.TEXTOFALLO{
    font-family: 'Candara';
    font-size: 15px;
    font-weight: bold;
    color: #FF0000;
    padding-top: 100px;
    text-align: center;
}

.TEXTOEXITO{
    font-family: 'Candara';
    font-size: 15px;
    font-weight: bold;
    color: #116043;
    padding-top: 100px;
    text-align: center;
}

.BOTONELIMINAR{
    width: 16px;
    height: 16px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #aaa;
    background: #D0D0D0;
    border: 1px solid #116043;
}

.TABLAFORM{
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #116043;

    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #116043;

    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: #116043;

    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #116043;
    
    box-shadow: 5px 5px 10px #ccc;
}

.LABELFORM{
    font-family: "Candara";
    font-size: 13px;
    font-weight: bold;
    color: #116043;
    text-align: center;
    width: 120px;
}

.TITULOBUSQUEDA{
    font-family: "Candara";
    font-size: 13px;
    font-weight: bold;
    color: #FFF;
    text-align: center;
    width: 250px;
    background-color: #116043;
}

.CAMPOFORM{
    border: 1px solid #116043;
    background: #FFC;
    font-family: "Candara";
    font-size: 12px;	
    height: 17px;
    width: 150px;
}

.CAMPOFORM:hover {
    border: 1px solid #116043;
    background: #ECEBA3;
}

.BOTONFORM{
    font-family: "Candara";
    font-size: 12px;
    background: #116043;
    color: #FFFFFF;
    border: 1px solid #116043;
    height: 20px;
    width: 80px;
}

.BOTONFORM:hover{
    background: #09B262;
    border: 1px solid #09B262;
}

.CELDAIMAGEN{
    text-align: left;
    vertical-align: middle;
    padding-left: 20px;
    border: 0px solid black;
}

.CELDACAMPOFORM{  
    width: 150px;
    text-align: left;
    vertical-align: middle;
}

.IMAGENBUSQUEDA{
    border: 0px solid black;
    width: 20px;
    height: 20px;
}

.ITEMMENU{
    text-align: left;
}

.TEXTOREFRESH{
    font-family: "Candara";
    font-size: 12px;
    font-weight: bold;
    color: #116043;
    text-align: left;
    vertical-align: middle;
}

ul.sidenav {
  /* el rectángulo contenedor */
  list-style: none;
  margin: 0 auto;
  padding: 0;
  width: 250px;
  /* propiedades optativas */
  background-color: #FFF;
  border: 0px solid #300;
  outline: 0px solid #FFF;
}

ul.sidenav li a {
  /* el enlace de cada item */
  display: block;
  text-decoration: none;
  /* propiedades optativas */
  background: transparent;
  border-bottom: 0px solid #AD651F;
  border-top: 0px solid #300;
  color: #116043;
  font-family: "Candara";
  font-size: 14px;
  font-weight: bold;
  padding: 0px 10px 10px 10px;
  width: 195px;
}

ul.sidenav li a:hover {
  /* propiedades optativas */
  background: #ECEBA3;
  border-top:0px solid #300;
}

ul.sidenav li span {
  /* el contenido permanece oculto por defecto */
  display:  none;
}

ul.sidenav li a:hover span {
  /* el contenido se muestra al pasar el cursor encima */
  display: block;
  /* propiedades optativas */ 
  font-family: "Candara";
  font-size: 12px;
  font-weight: normal;
  padding: 5px 0;
  margin: 0 0 0 17px;
}

.TEXTOPAGINACION{
    font-family: "Candara";
    font-size: 12px;
    font-weight: normal;
    color: #116043;
}

a.TEXTOPAGINACION{
    text-decoration: underline;
}
